<%= form_for @recipe do |f| %>
    <label>Recipe Name: </label>
    <%= f.text_field :name %><br>

    <label>Ingredients: </label>
    <%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) %>

    <br>

    <label>User: </label>
    <%= f.collection_select(:user_id, User.all, :id, :name) %>
<% end %>